<div class="center hero-unit">
  <h1>Welcome to Ride Community</h1>

  <h2>
    This is the home page for the Ride Community
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, 
                              class: "btn btn-large btn-primary" %>
</div>