<% message ||= @message %>
<span id="read_message<%= message.id %>">
	<% if current_user?(message.user) %>
		<% unless message.seen %>
	  		| <%= link_to "read", message, method: :put, remote: true %>
	  	<% end %>
	<% end %>
</span>